@import "tailwindcss";
@import "../config/colors.css";
@import "./tailwind.css";

@config "../tailwind.config.js";

html,
body {
    height: 100%;
    /* background: url("bg.svg"); */
    background-color: var(--bg-100);
    color: var(--text-100);
}

@layer base {
    * {
        border-color: var(--color-border);
    }
}

#root {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}

@media (max-width: 480px) {
    #root {
        padding: 0 1rem;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.8);
}

button {
    cursor: pointer;
}
